# ignore backups
*~
\#.*\#
*.swp
*.old

# ignore .zsh submodules
.zsh/*/

# vim
.vim/bundle
.vim/.netrwhist

# ignore bytecode, object code, erros, tags
*.pyc
*.swo
*.o
*.hi
*.errors
tags

.ptpython/history
.emacs.d
.mypy_cache

# xmonad binary
xmonad-x86_64-linux

# never add any private key to the repository
identity
id_dsa
id_ecdsa
id_ed25519
id_rsa
