[user]
	email = hack.augusto@gmail.com
	name = Augusto F. Hack
	signingkey = 3F3584B7FB1DFB76
[push]
	default = simple
[diff]
	tool = vimdiff
[color]
	ui = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[diff-so-fancy]
	markEmptyLines = false
	changeHunkIndicators = true
	useUnicodeRuler = false
[gpg]
	program = gpg
[rebase]
	autoStash = true
[fetch]
	prune = true
[commit]
	gpgsign = true
[remote "origin"]
	fetch = +refs/pull/*:refs/remotes/origin/pull/*
