[user]
	email = hack.augusto@gmail.com
	name = Augusto F. Hack
	signingkey = 7EA13CD8
[push]
	default = simple
[diff]
	tool = vimdiff
[color]
	ui = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[diff-so-fancy]
	markEmptyLines = false
	changeHunkIndicators = true
	useUnicodeRuler = false
[gpg]
	program = gpg2
